<div *ngIf="isLoading; else content">Loading...</div>

<ng-template #content>
  <h1>parent {{ name }} {{ surname }} from {{ city }} {{ address.street }} {{ address.house }}</h1>
  <app-child
    [surnameProps]="surname"
    [city]="city"
    [address]="address"
    (sendGradeEvent)="getGrade($event)"
    (sendValueEvent)="getValue($event)"
  ></app-child>

  <p>math: {{ grades?.math }} lit: {{ grades?.lit }}</p>

  <h2>Закрепление @Output</h2>
  <div *ngFor="let value of values">
    <p>{{ value }}</p>
  </div>

  <h2>NgFor</h2>
  <div *ngFor="let lesson of lessons">
    <div>{{ lesson.title }}</div>
    <div>
      <h3>
        weekGrades
        <div *ngFor="let grade of lesson.weekGrades">
          {{ grade.gradeItem }}
        </div>
      </h3>
    </div>
  </div>
</ng-template>
