<p>{{ user.name }}</p>
<p>{{ user.age }}</p>
<hr />
<button [disabled]="isAppLoading">Send</button>
<hr />
<h1>{{ appTitle }}</h1>
<button (click)="changeTitleHandler()">Change</button>
<hr />
<h1>07.3 Event binding, input</h1>
<h1>{{ text }}</h1>
<input type="text" (input)="changeTextHandler($event)" />
<hr />
<h1>07.3 Event binding, keyup.enter</h1>
<h1>{{ textEnter }}</h1>
<input type="text" (keyup.enter)="changeTextButtonHandler($event)" />

<h1>07.4 Two way binding</h1>
<h1>{{ text }}</h1>
<!--<input type="text" (keyup)="changeTextHandler($event)" [value]="text" />-->
<h1>{{ value }}</h1>
<input type="text" [(ngModel)]="value" />
<hr />
<app-parent></app-parent>
